<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huifu.scheduler.common.dal.dao.SchedulerRecordMapper">

  <select id="getSchedulerRecordByIndex" resultType="SchedulerRecordDO">
    SELECT
      systemName,
      taskName,
      cronExp,
      status,
      modifiedTime,
      createTime
    FROM sc_scheduler_record
    where  systemName=#{systemName} and taskName=#{taskName}
  </select>
  
  <select id="listAllSchedulerRecords" resultType="SchedulerRecordDO">
    SELECT
      systemName,
      taskName,
      cronExp,
      status,
      modifiedTime,
      createTime
    FROM sc_scheduler_record
    where 1=1 
    <if test="systemName != null">
    AND  systemName=#{systemName}
  </if>
  <if test="taskName != null">
    AND   taskName=#{taskName}
  </if>
   
    order by systemName,taskName
  </select>
  
   <insert id="insert" parameterType="SchedulerRecordDO">
    INSERT INTO sc_scheduler_record (systemName,taskName,cronExp,status,modifiedTime,createTime)
    VALUES (#{systemName}, #{taskName}, #{cronExp}, #{status}, sysdate(), sysdate())
  </insert>
  
  <update id="updateSchedulerRecordByIndex" >
  	 update  sc_scheduler_record  set
  	  <if test="cronExp != null">
     cronExp=#{cronExp},
  </if>
   <if test="status != null">
     status=#{status},
  </if>
 	 modifiedTime=sysdate()
   	 where  systemName=#{systemName} and taskName=#{taskName}
  </update>

</mapper>